/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

header h1{
	color:rgb(156, 172, 167);
	font-size: 5em;
	margin: 0 0 5px;
	padding-bottom: 10px;
	ont-weight: normal;
	font-family: 'Baskerville', serif;
	display:inline-block;
	
}

h1:hover {
color:	rgb(93, 99, 97);
}
#main {
	border: 5px solid rgb(156, 172, 167);
	
}
header {
	border-bottom: 1px solid rgb(156, 172, 167);
	margin-bottom: 5px;
}
section img{
	border: 5px solid rgb(156, 172, 167, .5);
}
section img:hover {
	border: 5px solid rgb(156, 172, 167);
}

footer {
	text-align: right;
	font-size: small;
}

h2 {
	color:rgb(91, 99, 96);
	font-size: 2em;
}

/* Write all remaining styles here */